.inner{width:1200px; margin:0 auto;}
#wrap{width:100%; min-width:1200px; overflow:hidden}
/* wrap{width:100%; min-width:''; overflow:hidden} 
   반응형에서는 사용 X */
.title{color:#000; padding-bottom:40px;
       font-weight:900; font-size:2rem}





#pop_up{position:relative; height:40px;
        background-color:#fdd000; color:#000;
        font-size:0.9rem}
#pop_up .cent{padding:.625rem 1rem .625rem 0; overflow:hidden;
              text-align:center}
#pop_up span{padding-right:.4rem; font-weight:400;
             padding-top:5px;}
#pop_up img{width:18px; height:18px;}
#pop_up .close{float:right;} 


/*********************header****************************/
#header{}
#header::after{content:''; display:block; clear:both;}
#header .logo{float:left; height:80px;}
#header .logo img{width:100px; height:50px;
                  padding-top:15px;}

#header #gnb{float:left;}
#gnb{color:#000; padding-left:50px;}
#gnb .inner{position:relative}
#gnb .depth{position:absolute; z-index:99999;
            padding-top:25px;}
#gnb .depth > li{float:left; width:calc(900px / 6);
                 text-align:center;}
#gnb .depth > li > a{display:block;
                      line-height:2em;
                      text-align:center;
                      font-weight:bold;
                      padding-bottom:8px;
                      font-size:1.11rem}
#gnb .depth > li > a:hover{border-bottom: 3px solid #1659A2;}
#gnb .depth ul{border:none;
                box-sizing:border-box; width:100%;
                height:400px; background-color:#fff;
                padding:10px; line-height:2em;
                opacity:0; transition: opacity 1s, height 0.5s;
                overflow:hidden; height:0}              
#gnb .depth ul a{font-size:0.9rem; font-weight:bold}
#gnb .depth ul a:hover{color:#1659A2}
#gnb .depth > li:hover ul{opacity:1; height:400px}
#gnb .col{color:#1659A2;}
#gnb .col ul{color:#000;}
#gnb .col .col1{color:#1659A2;}
#header .top{float:right;
             padding-top:30px;}
#header .top img{height:25px; width:25px;
                 padding-left:20px;}



/*********************section****************************/

#sec1{position:relative; display:block;
      }
#sec1 .lazy .slick-slide img{width:100%; height:700px;}
#sec1 .text_box{position:absolute; top:25%; left:0;
                width:100%; text-align:center; z-index:9999999}
#sec1 .tit{color:#fff; 
           font-size:3rem; font-weight:900;
           display:block; margin-bottom:70px;}
#sec1 .cont{color:#fff; font-size:1.1rem;
        font-weight:300;
            line-height:1.6rem;
            display:block;}
#sec1 .day{font-size:0.8rem;}
#sec1 .lazy .slick-slide{text-align: center; position:relative}
#sec1 .lazy .slick-arrow{position:absolute; top:45%;
                        width:50px; height:50px;
                        z-index:999999; background-color:transparent;
                        border:none; outline:0;
                        text-indent:-999999999999999px;
                        }
#sec1 .lazy .slick-prev{left:0; background-image:url(../images/arr_lef.png);}
#sec1 .lazy .slick-next{right:0; background-image:url(../images/arr_rig.png);}
#sec1 .lazy .slick-dots{position:absolute; left:0; bottom:100px;
                        width:100%; display:block; text-align:center;
                        z-index:9999999;}
#sec1 .lazy .slick-dots li{display:inline-block;
                           margin-right:10px; margin-left:10px;}
#sec1 .lazy .slick-dots li button{width:50px; height:5px;
                            border-radius:10px;
                            background-color:rgba(255, 255, 255, 0.5);
                            border:none; outline:0;
                            text-indent:-999999999px
                            }
#sec1 .lazy .slick-dots li.slick-active button{background-color:#fdd000}

 
#roll_notice{position:relative;}

#roll_notice .slide_box{height:4em; overflow:hidden;
         background-color:rgba(255, 255, 255, 0.5);
         width:20em; text-align:center;
         position:absolute; top:-56px; color:#000;
         left:300px; }
#roll_notice .notice_list{line-height:3.5rem;
                         position:relative; float:left;
                         font-size:1.3em; padding-left:50px;}
#roll_notice .notice_list img{width:10px; height:10px;}


#event_box{position:relative; margin-top:150px;
           overflow:hidden; box-sizing:border-box}
#event_box .title{padding-left:10px;}
#event_box .item2 li {width:30%; box-sizing:border-box;
              margin:0 10px;float:left;
              overflow:hidden /* item과 달리 이미지가 밖으로 나가면 잘리는 이유 */
              } 
#event_box .item2 li img{width:100%; transition:0.5s ease}
#event_box .item2 li:hover img{transform:scale(1.5);}

/*#event_box img{width:370px; height:500px;
               padding-right:25px; padding-bottom:250px;
               }
#event_box img:hover{transform:scale(1.5)} */

#event_box img:nth-child(3){margin:none;}
#event_box .caption1{color:#fff; position:absolute;
                    top:0; z-index:3; padding-top:150px;
                    padding-left:45px; text-align:center}
#event_box .eve_tit{line-height:1.7em; font-weight:700;
                             margin-bottom:4px;}
#event_box .eve_com{font-size:0.75rem; line-height:0.5em}
#event_box .caption2{color:#fff; position:absolute;
                    bottom:0; z-index:3; padding-bottom:100px;
                    padding-left:45px; text-align:center}
#event_box .caption3{color:#000; position:absolute;
                    top:0; z-index:3; padding-top:150px;
                    padding-left:80px; text-align:center}


#rec{height:600px; position:relative;
     margin-top:150px;}
#rec .goods{font-weight:900; font-size:1.2rem; color:#000;
            text-align:center;}
#rec .price{align-items:center; color:#000;
            bottom:0; padding-left:110px;}
#rec .title{text-align:center}
#rec img{width:calc((1110px - 170px) / 4); height:285px;
         display:inline-block;
         padding-left:35px;}
#rec img:last-child{padding-right:none;}

#rec .regular .slick-arrow{width:45px; height:45px;
                      background-color:transparent;
                      border:none; text-indent:-9999999999999px;
                      top:40%; position:absolute;
                      z-index:99999999;}
#rec .regular .slick-prev{background-image:url(../images/recom_arr_lef.png);
                     left:0;}
#rec .regular .slick-next{background-image:url(../images/recom_arr_rig.png);
                     right:0;}


#homef{margin-top:50px;}
#homef img{width:100%;}
#homef .fir::after{content:''; display:block; clear:both;}
#homef .fir{margin-bottom:10px;;}
#homef .fir_lef{width:calc((100% - 10px) / 2); float:left;}
#homef .fir_rig{width:calc((100% - 10px) / 2); float:right;}
#homef .fir_rig_top{width:100%; margin-bottom:10px;}
#homef .fir_btm{height:457px;; overflow:hidden}
#homef .fir_rig_btm1{width:50%; float:left}
#homef .fir_rig_btm2{float:left; width:50%;}
#homef .btm::after{content:''; display:block; clear:both;}
#homef .btm a{display:block; width:calc((100% - 20px) /3);
              float:left; margin-left:10px;}
#homef .btm a:first-child{margin-left:0;}


#media{margin-top:150px;}



/*********************footer****************************/
#footer{background-color:rgb(004, 068, 113);
        position:relative; color:#fff; height:300px;
        margin-top:200px;}
#footer .cen{float:center; text-align:center;
             font-size:1.25rem; font-weight:300;
             padding-top:50px;}
#footer .cen .num{font-weight:700; font-size:2.7rem}
#footer .foot1 img{width:35px; height:35px;
                  float:left; padding-top:50px;
                  margin-right:15px;}
#footer .lef{font-size:0.75rem; font-weight:300;
             padding-top:15px; line-height:1.4rem}

#footer .lef .under:hover{text-decoration:underline;
                          font-weight:700;}



/*********************제이쿼리 design****************************/

/* .lazy .slick-slide img{width:100%}
.lazy .slick-arrow{position:absolute; top:calc(50% - 25px);
                   width:50px; height:50px;
                   background-color:transparent; z-index:999999;
                   border:none; outline:0;
                   text-indent:-999999999999999px;
                   }
.lazy .slick-prev{left:50px; background-color:slateblue;}
.lazy .slick-next{right:50px; background-color:slateblue;}

.lazy .slick-dots{position:absolute; left:0; bottom:0;
                  text-align:center; width:100%;}
.lazy .slick-dots li{display:inline-block; margin:0 5px;}
.lazy .slick-dots li button{width:20px; height:20px;
                            border-radius:50%;
                            background-color:rgba(255, 255, 255, 0.5);
                            border:none; outline:0;
                            text-indent:-999999999999px;}
.lazy .slick-dots li.slick-active button{background-color:rgba(255, 255, 255, 1)} */






